deploy/data-consolidation/process-trigger-arm-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicApp.Name": {
            "defaultValue": "gdpr-with-azure-data-consolidation-trigger",
            "type": "String"
        },
        "Connections.SendGrid.Name": {
            "defaultValue": "SendGrid-Personal",
            "type": "String"
        },
        "ApiManagement.Security.ApiKey": {
            "defaultValue": null,
            "type": "SecureString"
        },
        "ApiManagement.Operations.TriggerConsolidation": {
            "defaultValue": "/subscriptions/0f9d7fea-99e8-4768-8672-06a28514f77e/resourceGroups/api-management/providers/Microsoft.ApiManagement/service/tomkerkhove/apis/data-consolidation-api",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('LogicApp.Name')]",
            "apiVersion": "2017-07-01",
            "location": "westeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "request": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "emailAddress": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Archive_Data": {
                            "runAfter": {},
                            "type": "ApiManagement",
                            "inputs": {
                                "api": {
                                    "id": "[parameters('ApiManagement.Operations.TriggerConsolidation')]"
                                },
                                "method": "post",
                                "pathTemplate": {
                                    "parameters": {
                                        "emailAddress": "@{encodeURIComponent(triggerBody()?['emailAddress'])}"
                                    },
                                    "template": "/gdpr-with-azure/users/{emailAddress}/data-consolidation/archive"
                                },
                                "subscriptionKey": "@parameters('ApiManagement.Security.ApiKey')"
                            }
                        },
                        "Get_User_By_Email_Address": {
                            "runAfter": {},
                            "metadata": {
                                "apiDefinitionUrl": "https://gdpr-with-azure-api-users.azurewebsites.net/swagger/v1/swagger.json",
                                "swaggerSource": "custom"
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "get",
                                "uri": "https://gdpr-with-azure-api-users.azurewebsites.net/api/users/@{encodeURIComponent(triggerBody()?['emailAddress'])}/profile"
                            }
                        },
                        "Response": {
                            "runAfter": {},
                            "type": "Response",
                            "inputs": {
                                "statusCode": 202
                            }
                        },
                        "Send_email_(V2)": {
                            "runAfter": {
                                "Get_User_By_Email_Address": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "from": "tom.kerkhove@codit.eu",
                                    "fromname": "GDPR with Azure",
                                    "ishtml": true,
                                    "subject": "GDPR with Azure - Data Consolidation Started",
                                    "text": "Hi @{body('Get_User_By_Email_Address')?['firstName']},<br />\n<br />\nWe have started gathering all your information and will notify you when it is available for download.<br />\n<br />\nThemis Inc.",
                                    "to": "@triggerBody()?['emailAddress']",
                                    "toname": "@body('Get_User_By_Email_Address')?['displayName']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sendgrid']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/mail/send"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sendgrid": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('Connections.SendGrid.Name'))]",
                                "connectionName": "sendgrid",
                                "id": "/subscriptions/0f9d7fea-99e8-4768-8672-06a28514f77e/providers/Microsoft.Web/locations/westeurope/managedApis/sendgrid"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('Connections.SendGrid.Name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[parameters('Connections.SendGrid.Name')]",
            "apiVersion": "2016-06-01",
            "location": "westeurope",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('Connections.SendGrid.Name'),'Sendgrid', parameters('Connections.SendGrid.Name'))]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/0f9d7fea-99e8-4768-8672-06a28514f77e/providers/Microsoft.Web/locations/westeurope/managedApis/sendgrid')]"
                }
            },
            "dependsOn": []
        }
    ]
}